.header {
  position: relative;
  z-index: 1;

  @media (min-width: $width-tablet+px) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      background: #f9f9f9;
      width: 100%;
      height: 65px;
      border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
    }
  }
}

.header__container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  position: absolute;
  overflow-x: hidden;
  left: 0;
  background: #ffffff;
  min-width: 100%;
  transition: height 0.3s ease 0s;

  @media (min-width: $width-tablet+px) {
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    grid-template-columns: 167px 167px 82px 259px;
    grid-template-rows: 89px 65px;
    grid-template-areas:
      ". . search cart"
      "catalog order . delivery";
  }

  @media (min-width: $width-desktop+px) {
    grid-template-columns: 184px 220px 1fr 82px 259px;
    grid-template-areas:
      "catalog order . search cart"
      "new sale . . delivery";
  }
}

.header__logo {
  width: 86px;
  height: 35px;
  display: flex;
  margin: 17px auto 22px;
  position: relative;
  z-index: 5;
  background: #ffffff;
  fill: $black;

  .header__logo-icon-tablet {
    display: none;

    @media (min-width: $width-tablet+px) {
      display: block;
    }

    @media (min-width: $width-desktop+px) {
      display: none;
    }
  }

  .header__logo-icon-mobile {
    @media (min-width: $width-tablet+px) {
      display: none;
    }
  }

  .header__logo-icon-desktop {
    display: none;

    @media (min-width: $width-desktop+px) {
      display: block;
    }
  }

  @media (min-width: $width-tablet+px) {
    width: 114px;
    height: 46px;
    position: absolute;
    margin: 0;
    top: 22px;
    left: 48px;

    &:hover,
    &:focus,
    &:focus-within {
      fill: rgba($color: $black, $alpha: 0.6);
    }
  }

  @media (min-width: $width-desktop+px) {
    top: 9px;
    width: 149px;
    height: 72px;
    left: 50%;
    transform: translateX(-50%);
  }

  &:focus,
  &:focus-within {
    fill: rgba($color: $black, $alpha: 0.6);
  }

  &:active {
    fill: rgba($color: $black, $alpha: 0.3);
  }
}

.header__menu-button {
  position: absolute;
  z-index: 10;
  top: 15px;
  right: 17px;
}

.header__link {
  color: $black;
  fill: rgba($color: $black, $alpha: 0.2);
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  padding: 27px 27px 27px 76px;
  display: inline-block;
  width: 100%;
  position: relative;
  opacity: 1;
  visibility: visible;
  height: auto;
  z-index: 1;
  border-top: 1px solid #ececec;

  &:last-child {
    border-bottom: 1px solid #ececec;
  }

  @media (min-width: $width-tablet+px) {
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 15px;

    &:last-child {
      border: 0;
    }

    &:hover,
    &:focus,
    &:focus-within {
      color: rgba($color: $black, $alpha: 0.6);
      fill: $svg-hover;
    }
  }

  &:focus,
  &:focus-within {
    color: rgba($color: $black, $alpha: 0.6);
    fill: $svg-hover;
  }

  &:active {
    color: rgba($color: $black, $alpha: 0.3);
    fill: rgba($color: $svg-hover, $alpha: 0.3);
  }

  @media (min-width: $width-desktop+px) {
    font-size: 17px;
  }
}

.header__icon {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);

  @media (min-width: $width-tablet+px) {
    position: relative;
    top: initial;
    left: initial;
    transform: initial;
  }
}

.header__link--catalog {
  @media (min-width: $width-tablet+px) {
    grid-area: catalog;
  }
}

.header__link--order {
  @media (min-width: $width-tablet+px) {
    grid-area: order;
  }

  @media (min-width: $width-desktop+px) {
    padding-left: 34px;
    border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
  }
}

.header__link--search {
  @media (min-width: $width-tablet+px) {
    grid-area: search;
    justify-content: center;
    border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-right: 1px solid rgba($color: #000000, $alpha: 0.1);

    .header__link-text {
      display: none;
    }
  }
}

.header__link--cart {
  @media (min-width: $width-tablet+px) {
    grid-area: cart;
    justify-content: flex-end;
    margin-left: auto;
    font-size: 17px;

    .header__icon--cart {
      margin-right: 32px;
    }
  }
}

.header__link--new {
  display: none;

  @media (min-width: $width-desktop+px) {
    display: flex;
    grid-area: new;
    font-size: 15px;
  }
}

.header__link--sale {
  display: none;

  @media (min-width: $width-desktop+px) {
    display: flex;
    grid-area: sale;
    font-size: 15px;
    padding-left: 35px;
  }
}

.header__link--delivery {
  display: none;

  @media (min-width: $width-tablet+px) {
    grid-area: delivery;
    display: flex;
    font-size: 15px;
    color: $text-color;
    font-weight: normal;
    justify-content: flex-end;
  }
}

.header--menu-close {
  .header__container {
    height: 0;
  }

  .header__link {
    animation: move-out 0.3s ease-in forwards;

    &:nth-child(5) {
      animation-delay: 0;
    }

    &:nth-child(4) {
      animation-delay: 0.1s;
    }

    &:nth-child(3) {
      animation-delay: 0.2s;
    }

    &:nth-child(2) {
      animation-delay: 0.3s;
    }
  }
}

.header--menu-open {
  .header__container {
    height: auto;
  }

  .header__link {
    animation: move-in 0.3s ease-in backwards;

    &:nth-child(2) {
      animation-delay: 0;
    }

    &:nth-child(3) {
      animation-delay: 0.1s;
    }

    &:nth-child(4) {
      animation-delay: 0.2s;
    }

    &:nth-child(5) {
      animation-delay: 0.3s;
    }
  }
}
