.main {
  min-width: $min-width + px;
  height: 100%;
}

.main-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 30 / 27 * 100%;

  @media (min-width: $width-tablet+px) {
    font-size: 43px;
  }

  @media (min-width: $width-desktop+px) {
    font-size: 53px;
  }
}

.main-title-h2 {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;

  @media (min-width: $width-tablet+px) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $width-desktop+px) {
    font-size: 53px;
    line-height: 57px;
  }
}

.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: transparent;
  border: 2px solid $text-color;
  text-transform: uppercase;
  color: $text-color;
  font-weight: bold;
  transition: all 0.3s ease 0s;

  @media (min-width: $width-tablet+px) {
    font-size: 17px;
    line-height: 20px;
  }

  @media (min-width: $width-desktop+px) {
    &:hover {
      background: $text-color;
      color: $white;
    }
  }

  &:active {
    background: $text-color;
    color: rgba($color: $white, $alpha: 0.3);
  }
}
