.page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  height: 100%;
  font-family: $font-family;
}
.page.no-js {
  .header__container {
    position: relative;
  }
  .header__menu-button {
    display: none;
  }
}

.page.lock {
  overflow: hidden;

}
